* {
    color: #324436;
    line-height: 100%;
    letter-spacing: 0%;
}

#WildlifeGuidance {
    background-color: #F5EDEA;
}

#WildlifeGuidanceTitle {
    font-size: 3.5em;
    font-weight: 700;
    font-style: Bold;
}

.subtext {
    font-size: 1.5em;
    font-weight: 400;
    font-style: regular;
}