@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

section {
    width: 1915px;
    height: 1700px;
    background-color: #f5edea;
}

h2 {
    color: #324436;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
}

#header-1 {
    padding-top: 121.89px;
}

#header-2 {
    padding-top: 328.22px;
}

#grid-1 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 136.89px;
    justify-items: center;
    margin: 0 60px;
}

#grid-1 > div {
    width: 553.1px;
    height: 432.38px;

    background-color: #f5edea;
    border: 1px solid #b3b3b3;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #b3b3b3;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid-1 > div > img {
    width: 95px;
    height: 95px;
    padding-top: 43.65px;
}

#grid-1 > div > h3 {
    color: #324436;
    font-size: 37px;
    font-weight: 600;
    text-align: center;
    padding-top: 33px;
}

#grid-1 > div > p {
    color: #324436;
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    width: 383px;
    padding-top: 25px;
}

#grid-2 {
    display: grid;
    grid-template: auto auto / auto auto;
    justify-items: center;
    margin: 0 110px;
}

#grid-2 > p {
    color: #324436;
    font-size: 36px;
    font-weight: 400;
    width: 670px;
    padding-top: 78px;
}