<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="EducationSection.css">
</head>

<body>
    <section>
        <h2 id="header-1">Why Education Comes First</h2>
        <div id="grid-1">
            <div>
                <img src="../../../assets/shieldIcon.svg" alt="Shield icon">
                <h3>Prevent Unnecessary Intervention</h3>
                <p>
                    Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit,
                    sed diam nonummy nibh eu
                </p>
            </div>
            <div>
                <img src="../../../assets/heartIcon.svg" alt="Heart icon">
                <h3>Protect Wildlife Families</h3>
                <p>
                    Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit,
                    sed diam nonummy nibh eu
                    consectetuer adipiscing elit
                </p>
            </div>
            <div>
                <img src="../../../assets/lockIcon.svg" alt="Heart icon">
                <h3>Keep People Safe</h3>
                <p>
                    Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit,
                    sed diam nonummy nibh eu
                    consectetuer adipiscing elit
                </p>
            </div>
        </div>

        <h2 id="header-2">What We Do</h2>
        <div id="grid-2">
            <p>
                • Provide clear guidance for people who
                find wildlife
            </p>
            <p>
                • Share resources to help people assess 
                situations before acting
            </p>
            <p>
                • Educate communities on safe and 
                responsible wildlife interaction
            </p>
            <p>
                • Promote coexistence between people 
                and wildlife
            </p>
        </div>
    </section>
</body>