@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    position: absolute;
}

section {
    width: 1915px;
    height: 645px;
    background-color: #3b4d3f;
}

h2 {
    color: #ffffff;
    font-size: 70px;
    font-weight: 500;
    top: 136.67px;
    left: 161.2px;
}

p {
    width: 1220px;
    color: #DCDACD;
    font-size: 30px;
    font-weight: 400;
    top: 280.78px;
    left: 163.03px;
}