@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

#about-ibc * {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

#about-ibc {
    height: 28.89vw;
    background-color: #f5edea;
    position: relative;
}

#about-ibc h2 {
    color: #324436;
    font-size: 4.7vw;
    font-weight: 700;
    position: absolute;
    top: 6.2vw;
    left: 8.27vw;
}

#about-ibc p {
    width: 64vw;
    color: #324436;
    font-size: 1.57vw;
    font-weight: 400;
    position: absolute;
    top: 14.19vw;
    left: 8.57vw;
}