@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

#education * {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

#education {
    height: 88.77vw;
    background-color: #f5edea;
}

#education h2 {
    color: #324436;
    font-size: 3.1vw;
    font-weight: 500;
    text-align: center;
}

#education #header-1 {
    padding-top: 6.36vw;
}

#education #header-2 {
    padding-top: 17.14vw;
}

#education #grid-1 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 7.15vw;
    justify-items: center;
    margin: 0 3.13vw;
}

#education #grid-1 > div {
    width: 28.88vw;
    height: 22.58vw;

    background-color: #f5edea;
    border: 1px solid #b3b3b3;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #b3b3b3;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#education #grid-1 > div > img {
    width: 4.96vw;
    height: 4.96vw;
    padding-top: 2.28vw;
}

#education #grid-1 > div > h3 {
    color: #324436;
    font-size: 1.91vw;
    font-weight: 600;
    text-align: center;
    padding-top: 1.72vw;
}

#education #grid-1 > div > p {
    color: #324436;
    font-size: 1.57vw;
    font-weight: 400;
    line-height: 1;
    width: 22vw;
    padding-top: 1.31vw;
}

#education #grid-2 {
    display: grid;
    grid-template: auto auto / auto auto;
    justify-items: center;
    margin: 0 5.74vw;
}

#education #grid-2 > p {
    color: #324436;
    font-size: 1.88vw;
    font-weight: 400;
    width: 34.99vw;
    padding-top: 4.07vw;
}