@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.education_questions {
    font-family: 'DM Sans', 'sans-serif';
    color: #324436;
    background-color: #F5EDEA;
    padding: 16px 8px;
    text-align: center;
}

.education_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 1600px) {
    .education_grid {
        grid-template-columns: auto;
    }
}

.education_item {
    box-sizing: border-box;
    width: 533.1px;
    height: 432.38px;
    padding-top: 50px;
    border: 1px solid #B3B3B3;
    box-shadow: 7px 7px 10px 0px #231F201A;
    border-radius: 30px;
}

.education_item h2 {
    font-size: 37px; 
    font-weight: 600px;
}

.education_item p {
    font-size: 30px;
    font-weight: 400px;
}

.education_warnings {
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
    gap: 50px;
}

.education_warnings ul {
    text-align: left;
    max-width: 750px;
}

.education_warnings ul li {
    font-size: 36px;
    font-weight: 400px;
    margin: 50px;
}