@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

#our-mission * {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

#our-mission {
    height: 33.68vw;
    background-color: #3b4d3f;
    position: relative;
}

#our-mission h2 {
    color: #ffffff;
    font-size: 4.7vw;
    font-weight: 500;
    position: absolute;
    top: 7.14vw;
    left: 8.42vw;
}

#our-mission p {
    width: 67.9vw;
    color: #DCDACD;
    font-size: 1.57vw;
    font-weight: 400;
    position: absolute;
    top: 14.66vw;
    left: 8.51vw;
}