nav {
    height: 260px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box; 
    white-space: nowrap;
}

.logo h1 {
    color: #1E2E5E;
    font-weight: 700;
    font-style: bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;

}

.logo div {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    justify-content: center;
    margin-right: 100px;
}

.logo div h1 {
    margin: 0;
}

.navlinks {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 50px; 
}

.navlinks a {
    text-decoration: none;
    font-weight: 500;
    font-style: medium; 
    font-size: 30px;
    letter-spacing: 0%;
    color: #1E2E5E;
}

.navlinks a.active {
    border-bottom: 1.75px solid #1E2E5E;
}

.log-in {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    background-color: #DCDACD;
    border-radius: 40px;
}