@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.ways_you_can_help {
    font-family: 'DM Sans', 'sans-serif';
    color: #324436;
    background-color: #F5EDEA;
    padding: 16px 8px;
    text-align: center;
}

.help_info_container h2 {
    font-size: 37px;
}

.help_info_container p {
    font-size: 30px;
}

.volunteer_attributes {
    font-size: 36px;
}

.help_info_containers {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

@media (max-width: 1800px) {
    .help_info_containers {
        grid-template-columns: auto;
    }
}

.help_info_container {
    border: 1px solid #B3B3B3;
    box-shadow: 7px 7px 10px 0px #231F201A;
    margin: 15px;
    border-radius: 30px;
    padding: 20px;
    width: 533px;
    height: 294px;
}

.volunteer_attributes {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-around;
}

.volunteer_attributes ul {
    text-align: left;
    max-width: 750px;
}

.volunteer_attributes ul li {
    margin: 50px;
}