#get-involved {
    position: relative;
}
#volunteer-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#volunteer-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 550px;
    height: 280px;
    border: 1.5px solid #999999; 
    border-radius: 15px;
    gap: 20px;
}
#volunteer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    height: 280px;
    border-radius: 15px;
    background-color: #DCDACD;
}
#contact-btn {
    width: 420px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color: #324436; 
}
#contact-btn:hover {
    cursor: pointer;
    color: #ece7ce;
}

/* Text */
.overlayText {
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
}
.headerTwo {
    font-size: 50px;
    font-weight: 500; 
    font-family: "DM Sans", sans-serif; 
    margin: 0; 
}
.bodyText {
    font-size: 24px; /* 38px */
    font-family: "DM Sans", sans-serif; 
    font-weight: normal;
    line-height: 1.5;
}
#volunteer-text {
    align-self: center;
}
.cardTitleText {
    font-weight: 500; 
    font-size: 20px;
    font-family: "DM Sans", sans-serif; 
}