/* Text */
.headerOne {
    font-size: 64px;
    font-weight: 600; 
    margin: 0; 
    font-family: "DM Sans", sans-serif; 
}
.bodyText {
    font-size: 24px; /* 38px */
    font-family: "DM Sans", sans-serif; 
    font-weight: normal;
    line-height: 1.5;
}
/* Sections */
#info-sec {
    display: flex;
    justify-content: center;
    align-items: center;
}
#info-text-container {
    display: flex;
    flex-direction: column; 
    width: 1200px;
}