.headerTwo {
    font-size: 50px;
    font-weight: 500; 
    font-family: "DM Sans", sans-serif; 
    margin: 0; 
}
.bodyText {
    font-size: 24px; /* 38px */
    font-family: "DM Sans", sans-serif; 
    font-weight: normal;
    line-height: 1.5;
}
#volun-looks-like {
    position: relative;
}
.overlayText {
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
}